*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "DidactGothic";
    src: url("../fonts/DidactGothic-Regular.ttf");
}


header article{
    background-color: aquamarine;
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin: 5vh 0 0 5vh;
    padding: 2vh 0 2vh 0;
}

main{
    background-color: grey;
    width: 50%;
    margin-left: 5vh;
    padding: 3vh 0 3vh 3vh;
}

main .your_name{
    width: 97%;
    padding: 1vh 0 1vh 2vh;
    margin-bottom: 2vh;
    font-family: "DidactGothic";
}

main .email{
    width: 97%;
    padding: 1vh 0 1vh 2vh;
    margin-bottom: 2vh;
    font-family: "DidactGothic";
}

main .textarea{
    width: 97%;
    padding: 1vh 0 1vh 2vh;
    margin-bottom: 2vh;
    font-family: "DidactGothic";
}

main .send{
    width: 97%;
    padding: 1vh 0 1vh 2vh;
    background-color: aquamarine;
    color: aliceblue;
}